<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    version     = "3.3.0" >

  <!-- versionCode is optional and Android only -->

  <name>AveryScott</name>

  <description>
    Your Office Rental Services Ghana
  </description>

  <author href="https://build.phonegap.com" email="gahsilas@icloud.com">
    Gah
  </author>
  <feature name="SocialSharing">
    <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
  </feature>
  <feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.GeoBroker" />
  </feature>
  <feature name="SplashScreen">
    <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
  </feature>
  <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.NetworkManager" />
  </feature>
  <feature name="Notification">
    <param name="android-package" value="org.apache.cordova.Notification" />
  </feature>
  <feature name="ToastPlugin">
    <param name="android-package" value="org.apache.cordova.plugin.ToastPlugin" />
  </feature>
  
  <icon src="AppResource/Android/drawable-ldpi/ldpi.png" gap:platform="android" gap:density="ldpi" />
  <icon src="AppResource/Android/drawable-mdpi/mdpi.png" gap:platform="android" gap:density="mdpi" />
  <icon src="AppResource/Android/drawable-hdpi/hdpi.png" gap:platform="android" gap:density="hdpi" />
  <icon src="AppResource/Android/drawable-xhdpi/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
  <preference name="AppResource/Android/logo" value="screen" />
  <preference name="SplashScreenDelay" value="10000" />
  <gap:splash src="AppResource/Android/drawable-ldpi/ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
  <gap:splash src="AppResource/Android/drawable-mdpi/mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
  <gap:splash src="AppResource/Android/drawable-hdpi/hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
  <gap:splash src="AppResource/Android/drawable-xhdpi/xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
 
   <access origin="*" />
  <gap:plugin name="nl.x-services.plugins.socialsharing" />
  <gap:plugin name="org.apache.cordova.splashscreen" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</widget>